<link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/sinatrabusinessCss.css" type="text/css">
<div class="contactContainer">
    <h2> We Love to hear from our customers!</h2>
    <h2>Please use the form below to contact us.</h2>
    <form action="/submit" method="post" id="contactform">
      <p>Name:<input type="text" name="name"></p>
      <textarea name="comment" form="contactform" rows="10" cols="100">Enter your text here</textarea>

      <p><input value="Submit" type="submit" id="submitForm"></p>

  </div>
  <div class="contactC">
    <p class="contact">William Vesper</p>
    <p class="contact">John Vesper</p>

<p class="contact">Twin Brothers & Founders</p>

<p class="contact">Office Hours: Mon-Sat 9am-7pm EST</p>
<p class="contact">(484) 410-4532</p>
<p class="contact">(484) 410-4679</p>

<p class="contact">1 Pennsylvania Avenue</p>
<p class="contact">Wayne, PA 19087</p>
<p class="contact">United States of America</p>


<p class="contact">For general information, or questions about any of our products or
for
wholesale information</p>
please</p>
<p class="contact">Email us at: <a href="mailto:info@vesperbrothersfoods.com">info@vesperbrothersfoods.com</a></p>

  </div>

