<!DOCTYPE HTML>
<html>
<head><title></title></head>
<body>
  <div class="sidebar">
    <img src="" id="logo">
    <navbar>
      <ul>
        <li>Home</li>
        <li>Products</li>
        <li>About Us</li>
        <li>Contact Us</li>
      </ul>
    </navbar>

    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
  </div>


  <div class="productContainer">
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
  </div>
  <div class="productContainer">
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
  </div>
  <div class="productContainer">
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
    <div class="productBox">
      <img src="" class="productPic">
      <p></p>
      <button type="button"></button>
    </div>
  </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</html>