<link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/sinatrabusinessCss.css" type="text/css">
<h2 id="products">Click here to see our Products</h2>
  <div class="productContainer">
    <div class="productBox">
      <a href="" target="_blank"><img src="http://www.vesperbrothersfoods.com/files/IMG_88.jpg" class="productPic"></a>
      <p>Signature Tomato Sauce 24oz - $5.99</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
    <div class="productBox">
       <a href="" target="_blank">
        <img src="http://www.vesperbrothersfoods.com/files/11943-large_Vesper-Bros-Foods-Spicy-Tomato-Sauce_jpg.jpg" class="productPic">
      </a>
      <p>SPICY Tomato Sauce 24oz - $5.99</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
    <div class="productBox">
       <a href="" target="_blank">
        <img src="http://www.vesperbrothersfoods.com/files/IMG_87.jpg" class="productPic">
       </a>
      <p>Signature Pizza Sauce 15.5oz - $4.99</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
  </div>
  <div class="productContainer">
    <div class="productBox">
       <a href="" target="_blank">
        <img src="http://www.vesperbrothersfoods.com/files/11944-large_Vesper-Bros-Foods-Tomato-Basil-Sauce_jpg.jpg" class="productPic">
      </a>
      <p>Signature Tomato Basil 24oz - $5.99</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
    <div class="productBox">
       <a href="" target="_blank">
        <img src="http://www.vesperbrothersfoods.com/files/IMG_51.jpg" class="productPic">
      </a>
      <p>Local Handmade Farfalle 16oz - $3.99</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
    <div class="productBox">
       <a href="" target="_blank">
        <img src="http://www.vesperbrothersfoods.com/files/IMG_50.jpg" class="productPic">
      </a>
      <p>Local Handmade Penne 16oz - $3.99</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
  </div>
  <div class="productContainer">
    <div class="productBox">
       <a href="" target="_blank">
        <img src="http://www.vesperbrothersfoods.com/files/IMG_67.jpg" class="productPic">
      </a>
      <p>Local Handmade Whole Wheat Penne
16oz - $4.49</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
    <div class="productBox">
       <a href="" target="_blank">
        <img src="http://www.vesperbrothersfoods.com/files/IMG_53.jpg" class="productPic">
      </a>
      <p>Local Handmade Linguine 16oz - $3.99</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
    <div class="productBox">
       <a href="" target="_blank">
        <img src="http://www.vesperbrothersfoods.com/files/IMG_52.jpg" class="productPic">
      </a>
      <p>Local Handmade Capellini 16oz - $3.99</p>
       <a href="" target="_blank">
        <button type="button">Let me see!</button>
      </a>
    </div>
  </div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="js/sinatrabusiness.js"></script>