<div class="home-wrapper-1">
  <div class="home-flex-column">
    <img id="home-img" src="/images/picking_tomatoes.jpg">
  </div>
  <div class="home-flex-column">
    <p>The Vesper family has been in the food business for almost 40 years. Now, twin brothers, John and Bill Vesper, have begun to package the same authentic foods that they grew up eating and learned to cook. With such a tradition of family and food behind them, you can be confident that every jar is filled with only the best, highest quality, all natural products.</p>
  </div>
</div>
<div class="home-wrapper-2" id="authentic">
  <div class="home-flex-column">
    <h4>Authentic is All Natural.</h4>
    <ul>
      <li>au·then·tic</li>
      <li>/ô'THentik/</li>
      <li>adjective: authentic; adjective: auth.</li>
      <li>1. of undisputed origin; genuine.</li>
    </ul>
  </div>
    <img id="home-img" src="/images/dicing_tomatoes.jpg">
  <div class="home-flex-column">
  </div>
</div>
<div class="home-wrapper-3">
  <div class="home-flex-column">
    <img id="home-img" src="/images/john_and_bill.jpg">
  </div>
  <div class="home-flex-column">
  <p>Vesper Bros. Foods is a local, family owned and operated specialty foods company founded in 2010 by twin brothers Bill and Johnny Vesper.  We, the Vesper Brothers, grew up in our fathers' Italian delis, John's Village Markets, and have been preparing food there since we were tall enough to see over the counter.</p>
  </div>
</div>
<div class="home-wrapper-4">
  <div class="home-flex-column">
    <p>We decided to package the pasta sauce, or gravy, as we call it here around Philadelphia, that we grew up eating and had learned to cook. An authentic pasta sauce that TRULY tastes fresh and homemade STRAIGHT out of the jar! Our Signature Sauces are the best tasting sauces you will find anywhere on the market. Our family has been in the food business for almost 40 years and we have a deep rooted love for food. We want our products' natural ingredient's integrity to be protected and taste just the way they should be. That's why we use ONLY the finest ingredients and we still prepare our sauces in small batches. Plus, ALL Vesper Brothers products are 100% all-natural, no preservatives, no citric acid, no added sugars or sweeteners. </p>
    <p>So, next time you're planning an authentic, home-cooked Italian meal, use Vesper Brothers' Foods products, you won't be disappointed, and neither will your family!</p>
  </div>
  <div class="home-flex-column">
    <img id="home-img" src="/images/sauce_and_tomatos.jpg">
  </div>
</div>
<div class="home-wrapper-5">
  <h2>Vesper Bros. Recipes</h2>
  <div id="recipe-wrapper">
    <div class="recipe-column">
      <a href="#" class="modal-link" data-number="1">
        <h5>Quick Ragu</h5>
        <div class="recipe-list">
          <ul>
            <li>1 jar of Vesper Brother's Foods Signature Tomato Sauce</li>
            <li>1 lb. of Fresh Ground Meat (Beef, or Turkey/Chicken for a healthy alternative)</li>
            <li>2 Tbsp of Extra Virgin Olive Oil</li>
          </ul>
        </div>
        <img class="recipe-img" src="/images/ragu.jpg">
      </a>
    </div>
    <div class="recipe-column">
      <a href="#" class="modal-link" data-number="2">
        <h5>Baked Ziti</h5>
        <div class="recipe-list">
          <ul>
            <li>1 and 1/2 Jars of Vesper Brothers' Foods Signature Tomato Sauce</li>
            <li>1 lb. of Ziti, Penne, or another of your favorite short pasta</li>
            <li>1 lb. (2 cups) Ricotta Cheese</li>
            <li>3/4 lb. (2 1/2 Cups) Shredded Mozzarella Cheese</li>
            <li>1 Large Egg</li>
            <li>Salt</li>
            <li>Pepper</li>
            <li>Fresh Basil</li>
          </ul>
        </div>
        <img class="recipe-img" src="/images/ziti.jpg">
      </a>
    </div>
    <div class="recipe-column">
      <a href="#" class="modal-link" data-number="3">
        <h5>Lexy's Meat Lasagna</h5>
        <div class="recipe-list">
          <ul>
            <li>1 lb. Lasagna</li>
            <li>3 lbs. Ricotta Cheese</li>
            <li>1 1/2 lbs. Mozzarella Cheese</li>
            <li>1/2 Cup Grated Romano Cheese</li>
            <li>6 Eggs (Beaten)</li>
            <li>2 Jars of Vesper Brothers' Foods Signature Tomato Sauce</li>
            <li>6 Meatballs (Sliced, about 1/4 in. slices)</li>
            <li>Salt</li>
            <li>Pepper</li>
            <li>Fresh Basil</li>
          </ul>
        </div>
        <img class="recipe-img" src="/images/lasagna.jpg">
      </a>
    </div>
  </div>
</div>
<div id="outer-box">
  <div id="inner-box">
    <div id="modal-appear">
    </div>
  </div>
</div>
<div class="modal-1" id="modal">
  <div class="recipe-modal">
    <h2 class="modal-heading">Quick Ragu</h2>
    <img class="modal-img" src="/images/ragu.jpg">
    <h4 class="modal-heading">Ingredients</h4>
    <div class="recipe-list">
      <ul>
        <li>Add Extra Virgin Olive Oil to a medium sized pan and sautee ground meat on medium-high heat until evenly browned and cooked through.</li>
        <li>Next, add 1 jar of Vesper Brother's Foods Signature Tomato Sauce and stir with cooked meat to combine.</li>
        <li>Let simmer 15 - 20 minutes.</li>
        <li>Toss with your favorite pasta for a quick and easy meal!</li>
      </ul>
    </div>
    <div class="recipe-list">
      <ol>
        <li>Add Extra Virgin Olive Oil to a medium sized pan and sautee ground meat on medium-high heat until evenly browned and cooked through.</li>
        <li>Next, add 1 jar of Vesper Brother's Foods Signature Tomato Sauce and stir with cooked meat to combine.</li>
        <li>Let simmer 15 - 20 minutes.</li>
        <li>Toss with your favorite pasta for a quick and easy meal!</li>
      </ol>
    </div>
  </div>
</div>
<div class="modal-2" id="modal">
  <div class="recipe-modal">
    <h2 class="modal-heading">Baked Ziti</h2>
    <img class="modal-img" src="/images/ziti.jpg">
    <h4 class="modal-heading">Ingredients</h4>
    <div class="recipe-list">
      <ul>
        <li>1 and 1/2 Jars of Vesper Brothers' Foods Signature Tomato Sauce</li>
        <li>1 lb. of Ziti, Penne, or another of your favorite short pasta</li>
        <li>1 lb. (2 cups) Ricotta Cheese</li>
        <li>3/4 lb. (2 1/2 Cups) Shredded Mozzarella Cheese</li>
        <li>1 Large Egg</li>
        <li>Salt</li>
        <li>Pepper</li>
        <li>Fresh Basil</li>
      </ul>
    </div>
    <div class="recipe-list">
      <ol>
        <li>Pre-heat oven to 375 degrees.</li>
        <li>Cook Pasta according to directions on box.</li>
        <li>In a large mixing bowl combine Ricotta Cheese, 1/2 lb of Mozzarella Cheese, Romano Cheese, 1 beaten Egg, and 1 cup of Vesper Brothers' Foods Signature Tomato Sauce, along with a dash of salt, pepper, and chopped Fresh Basil.</li>
        <li>Combine cooked Pasta with Cheese mixture.</li>
        <li>In a 9 x 11 baking dish, add 1 cup of Vesper Brothers' Foods Siganture Tomato Sauce.</li>
        <li>Add the entire Pasta and Cheese mixture to baking dish. </li>
        <li>Top with 1 cup of Vesper Brothers' Foods Signature Tomato Sauce, and 1/4 lb. of Mozzarella.</li>
        <li>Bake uncovered for 30 min.</li>
        <li>Let rest 5 minutes, then serve and enjoy!</li>
      </ol>
    </div>
  </div>
</div>
<div class="modal-3" id="modal">
  <div class="recipe-modal">
    <h2 class="modal-heading">Lexy's Meat Lasagna</h2>
    <img class="modal-img" src="/images/lasagna.jpg">
    <h4 class="modal-heading">Ingredients</h4>
    <div class="recipe-list">
      <ul>
        <li>1 lb. Lasagna</li>
        <li>3 lbs. Ricotta Cheese</li>
        <li>1 1/2 lbs. Mozzarella Cheese</li>
        <li>1/2 Cup Grated Romano Cheese</li>
        <li>6 Eggs (Beaten)</li>
        <li>2 Jars of Vesper Brothers' Foods Signature Tomato Sauce</li>
        <li>6 Meatballs (Sliced, about 1/4 in. slices)</li>
        <li>Salt</li>
        <li>Pepper</li>
        <li>Fresh Basil</li>
      </ul>
    </div>
    <div class="recipe-list">
      <ol>
        <li>Pre-heat oven to 375 degrees.</li>
        <li>Cook Pasta according to directions of box.</li>
        <li>In a large mixing bowl combine Ricotta Cheese, 1 1/4 lb of Mozzarella Cheese, Romano Cheese, beaten Eggs, along with a dash of salt, pepper, and chopped Fresh Basil.</li>
        <li>In a 9 x 11 baking dish cover bottom of pan with 1 cup of Vesper Brothers' Foods Signature Tomato Sauce</li>
        <li>Begin layering; Pasta, Cheese, Vesper Brothers' Foods Signature Tomato Sauce, and Sliced Meatballs, until all pasta, cheese, and meatballs are gone. Reserving 1 cup of sauce.</li>
        <li>Top final layer with reserved Cup of Vesper Brothers' Foods Signature Tomato Sauce, and 1/4 lb. Mozzarella Cheese.</li>
        <li>Bake uncovered for about 1 hr.</li>
        <li>Let rest 15 - 30 minutes, then serve, and enjoy!</li>
      </ol>
    </div>
  </div>
</div>
