<div class="recipe-modal">
  <h2 class="modal-heading">Lexy's Meat Lasagna</h2>
  <img class="modal-img" src="/images/lasagna.jpg">
  <h4 class="modal-heading">Ingredients</h4>
  <div class="recipe-list">
    <ul>
      <li>1 lb. Lasagna</li>
      <li>3 lbs. Ricotta Cheese</li>
      <li>1 1/2 lbs. Mozzarella Cheese</li>
      <li>1/2 Cup Grated Romano Cheese</li>
      <li>6 Eggs (Beaten)</li>
      <li>2 Jars of Vesper Brothers' Foods Signature Tomato Sauce</li>
      <li>6 Meatballs (Sliced, about 1/4 in. slices)</li>
      <li>Salt</li>
      <li>Pepper</li>
      <li>Fresh Basil</li>
    </ul>
  </div>
  <div class="recipe-list">
    <ol>
      <li>Pre-heat oven to 375 degrees.</li>
      <li>Cook Pasta according to directions of box.</li>
      <li>In a large mixing bowl combine Ricotta Cheese, 1 1/4 lb of Mozzarella Cheese, Romano Cheese, beaten Eggs, along with a dash of salt, pepper, and chopped Fresh Basil.</li>
      <li>In a 9 x 11 baking dish cover bottom of pan with 1 cup of Vesper Brothers' Foods Signature Tomato Sauce</li>
      <li>Begin layering; Pasta, Cheese, Vesper Brothers' Foods Signature Tomato Sauce, and Sliced Meatballs, until all pasta, cheese, and meatballs are gone. Reserving 1 cup of sauce.</li>
      <li>Top final layer with reserved Cup of Vesper Brothers' Foods Signature Tomato Sauce, and 1/4 lb. Mozzarella Cheese.</li>
      <li>Bake uncovered for about 1 hr.</li>
      <li>Let rest 15 - 30 minutes, then serve, and enjoy!</li>
    </ol>
  </div>
</div>

