<!DOCTYPE html>
<html>
  <head>
    <title>The Vesper Bros.</title>
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel='stylesheet' type='text/css' href='./css/style.css'>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class='side-bar'>
      <nav>
        <a href='/' id='current-link'>Home</a>
        <a href='/about'>About</a>
        <a href='/products'>Products</a>
        <a href='/contact'>Contact</a>
      </nav>
    </div>
    <header>
      <img class="logo" src="/images/big_logo.jpg">
      <div>
        <h1>Vesper Brothers' Foods</h1>
      </div>
      <div>
        <h3>Authentic is All Natural</h3>
      </div>
    </header>
    <div id="main-container">

<%= yield %>

    </div>
    <footer>
      <div id="nav-footer">
        <a href='https://www.linkedin.com/in/samuel-krause-0530811a?trk=hp-identity-name' target='_blank'><i class="fa fa-linkedin-square"></i></a>
        <a href='https://www.facebook.com/profile.php?id=5619198' target='_blank'><i class="fa fa-facebook"></i></a>
        <a href='https://github.com/SamKrause' target='_blank'><i class="fa fa-github"></i></a>
        <a href='https://twitter.com/SamKrause' target='_blank'><i class="fa fa-twitter"></i></a>
      </div>
    </footer>
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="js/sinatrabusiness.js"></script>
</html>
