<div class="recipe-modal">
  <h2 class="modal-heading">Quick Ragu</h2>
  <img class="modal-img" src="/images/ragu.jpg">
  <h4 class="modal-heading">Ingredients</h4>
  <div class="recipe-list">
    <ul>
      <li>Add Extra Virgin Olive Oil to a medium sized pan and sautee ground meat on medium-high heat until evenly browned and cooked through.</li>
      <li>Next, add 1 jar of Vesper Brother's Foods Signature Tomato Sauce and stir with cooked meat to combine.</li>
      <li>Let simmer 15 - 20 minutes.</li>
      <li>Toss with your favorite pasta for a quick and easy meal!</li>
    </ul>
  </div>
  <div class="recipe-list">
    <ol>
      <li>Add Extra Virgin Olive Oil to a medium sized pan and sautee ground meat on medium-high heat until evenly browned and cooked through.</li>
      <li>Next, add 1 jar of Vesper Brother's Foods Signature Tomato Sauce and stir with cooked meat to combine.</li>
      <li>Let simmer 15 - 20 minutes.</li>
      <li>Toss with your favorite pasta for a quick and easy meal!</li>
    </ol>
  </div>
</div>
