<div class="recipe-modal">
  <h2 class="modal-heading">Baked Ziti</h2>
  <img class="modal-img" src="/images/ziti.jpg">
  <h4 class="modal-heading">Ingredients</h4>
  <div class="recipe-list">
    <ul>
      <li>1 and 1/2 Jars of Vesper Brothers' Foods Signature Tomato Sauce</li>
      <li>1 lb. of Ziti, Penne, or another of your favorite short pasta</li>
      <li>1 lb. (2 cups) Ricotta Cheese</li>
      <li>3/4 lb. (2 1/2 Cups) Shredded Mozzarella Cheese</li>
      <li>1 Large Egg</li>
      <li>Salt</li>
      <li>Pepper</li>
      <li>Fresh Basil</li>
    </ul>
  </div>
  <div class="recipe-list">
    <ol>
      <li>Pre-heat oven to 375 degrees.</li>
      <li>Cook Pasta according to directions on box.</li>
      <li>In a large mixing bowl combine Ricotta Cheese, 1/2 lb of Mozzarella Cheese, Romano Cheese, 1 beaten Egg, and 1 cup of Vesper Brothers' Foods Signature Tomato Sauce, along with a dash of salt, pepper, and chopped Fresh Basil.</li>
      <li>Combine cooked Pasta with Cheese mixture.</li>
      <li>In a 9 x 11 baking dish, add 1 cup of Vesper Brothers' Foods Siganture Tomato Sauce.</li>
      <li>Add the entire Pasta and Cheese mixture to baking dish. </li>
      <li>Top with 1 cup of Vesper Brothers' Foods Signature Tomato Sauce, and 1/4 lb. of Mozzarella.</li>
      <li>Bake uncovered for 30 min.</li>
      <li>Let rest 5 minutes, then serve and enjoy!</li>
    </ol>
  </div>
</div>
