/* Layout Page */

/*color codes
lightest green: f9fdb4
dark green: 939c00
lime green: d4ea00
right red: ed3800
light red fba180
;
*/

body {
  background-color: #f9fdb4;
  margin: 0;
  padding: 0;
  color: #ed3800;
}
   /* Side Bar */
.side-bar {

  position: fixed;
  height: 100%;
  width: 225px;
  background-color: #d4ea00;
}

nav {
  position: relative;
  top: 20px;
  left: 10px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

nav a {
  margin-bottom: 5px;
  background-color: #aaaaaa;
  width: 70px;
  text-indent: 5px;
  color:white;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

nav a a:link {
  color: white
}

nav a:hover {
  background-color: black;
}

nav a:active {
  background-color: black;
}

#current-link {
  background-color: black;
}

    /* Header */
header {
  width: auto;
  height: 150px;
  margin-left: 225px;
  background-color: #d4ea00;
}

.logo {
  float: left;
  height: 130px;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px
}

header h1 {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 125px;
  font-size: 40px
}

header h3 {
  display: inline;
  margin-top: 20px;
  margin-left: 125px;
}

    /* Footer */
footer {
  width: auto;
  height: 150px;
  margin-left: 225px;
  background-color: #dddddd;
}

#nav-footer {
  display: inline-block;
  position: relative;
  top: 25px;
  margin-left: 25px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

#nav-footer a {
  color: white;
  font-size: 5em;
  margin: auto 25px;
}

    /* Main Container*/
#main-container {
  width: auto;
  height: 100%;
  margin-left: 225px;
  background-color: #f9fdb4;
}

/*Home Page*/
.recipe-column ul {
  margin-bottom: 0;
}

.home-wrapper {
  height: auto;
  width: auto;
}

#first-p {
  position: relative;
  margin-top: 0;
  padding-top: 50px;
}

#home-img {
  float: left;
  height: 300px;
  width: 500px;
}

#clear-fix:after {
  content: " ";
  display: table;
  clear: both;
}

/* Bill's Pages */
h2{
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}
button{
  border-radius: 8px;
  font-size: 12px;
  background-color: #f44336;
  color: white;
}
#submitForm{
  border-radius: 8px;
  font-size: 24px;
  background-color: #f44336;
  color: white;
  margin-left: 40px;
}

.productContainer{
  position: relative;
  /*left: 230px;*/
  width: 80%;
  background-color: yellow;
  display: inline-flex;
  flex-wrap: no-wrap;
  justify-content: center;
}

.productBox {
  border: 3px solid red;
  text-align: center;
  width: 30%;
}

.productPic{
  max-width: 180px;
  max-height: 180px;
}
.contactContainer{
  position: relative;
 /* left: 230px;*/
/*  top: 300px;*/
  width: 80%;
  padding-left: 10px;
}
.contactC{
    position: relative;
/*  left: 230px;*/
  top: 100px;
  width: 80%;
  text-align: center;
  padding-bottom: 100px;
}
