/* Layout Page */

body {
  margin: 0;
  padding: 0;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 1.2em;
}
   /* Side Bar */
.side-bar {
  position: fixed;
  height: 100%;
  width: 225px;
  background-color: #cccccc;
}

nav {
  position: relative;
  top: 50px;
  left: 10px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

nav a {
  margin-bottom: 40px;
  text-indent: 5px;
  color:white;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 2.5em;
  width: 90%;
}

nav a:hover {
  background-color: black;
}

    /* Header */
header {
  width: auto;
  height: 150px;
  margin-left: 225px;
  background-color: #dddddd;
}

.logo {
  float: left;
  height: 130px;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px
}

header h1 {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 125px;
  font-size: 40px
}

header h3 {
  display: inline;
  margin-top: 20px;
  margin-left: 125px;
}

    /* Footer */
footer {
  width: auto;
  height: 150px;
  margin-left: 225px;
  background-color: #dddddd;
}

#nav-footer {
  display: inline-block;
  position: relative;
  top: 25px;
  margin-left: 25px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

#nav-footer a {
  color: white;
  font-size: 5em;
  margin: auto 25px;
}

.jvm-logo {
  height: 75px;
  width: 200px;
  margin: auto;
  padding-top: 25px;
}

    /* Main Container*/
#main-container {
  width: auto;
  height: 100%;
  margin-left: 225px;
  background-color: #eeeeee
}

/*Home Page*/
.recipe-column ul {
  margin-bottom: 0;
}

.home-wrapper-1 {
  height: 320px;
  width: auto;
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: space-between;
}

.home-flex-column {
  padding-left: 10px;
  padding-right: 10px;
}

.home-flex-column p {
  margin-top: 0;
  text-indent: 50px;
}

#home-img {
  height: 300px;
  width: 500px;
}

.home-wrapper-2 {
  height: 320px;
  width: auto;
  padding: 30px 30px;
  display: flex;
  flex-directsion: row;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: space-between;
}

.home-wrapper-2 h4 {
  margin-bottom: 10px;
}
.home-wrapper-2 ul {
  list-style-type: none;
  position: relative;
  right: 30px;
  margin-top: 10px;
}

.home-wrapper-3 {
  height: 320px;
  width: auto;
  padding: 30px 30px;
  display: flex;
  flex-directsion: row;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: space-between;
}

.home-wrapper-4 {
  height: 500px;
  width: auto;
  padding: 30px 30px;
  display: flex;
  flex-directsion: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.home-wrapper-5 {
  height: 600px;
  width: auto;
  padding: 30px 30px;
}

.home-wrapper-5 h2 {
  margin: 0;
  text-align: center;
}

#recipe-wrapper {
  height: auto;
  width: auto;
  display: flex;
  flex-directsion: row;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: space-between;
}

.recipe-column {
  text-align: center;
  align-self: flex-start;
  color: black;
}

.recipe-list {
  text-align: left;
}

.modal-link {
  text-decoration: none;
  color: black;
}

.recipe-img {
  width: 250px;
  height: 150px;
  margin-top: 30px;
}

      /* Modal */
#outer-box {
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  display: none;
}

#inner-box {
  text-align: center;
  background-color: white;
  border: 1em solid black;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#modal-appear {

}

.recipe-modal {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

#modal {
  display: none;
}

.recipe-modal .recipe-list {
  font-size: .7em;
}

.recipe-modal img {
  width: 250px;
  height: 150px;
}

.modal-heading {
  margin-top:0;
  margin-bottom: 10px;
}

/* About Page */

.about-wrapper {
  height: 320px;
  width: auto;
  padding: 30px 30px;
  display: flex;
  flex-directsion: row;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
}

.about-flex-column {
  padding-left: 10px;
  padding-right: 10px;
}

#about-img {
  height: 300px;
  width: 500px;
}

/* Bill's Pages */
h2{
  text-align: center;
}
button{
  border-radius: 8px;
  font-size: 12px;
  background-color: #f44336;
  color: white;
}
#submitForm{
    border-radius: 8px;
  font-size: 24px;
  background-color: #f44336;
  color: white;
  margin-left: 40px;
}

.productContainer{
  position: relative;
  /*left: 230px;*/
  width: 80%;
  background-color: yellow;
  display: inline-flex;
  flex-wrap: no-wrap;
  justify-content: center;
}

.productBox {
  border: 3px solid red;
  text-align: center;
  width: 30%;
}

.productPic{
  max-width: 180px;
  max-height: 180px;
}
.contactContainer{
  position: relative;
 /* left: 230px;*/
/*  top: 300px;*/
  width: 80%;
}
.contactC{
    position: relative;
/*  left: 230px;*/
  top: 200px;
  width: 80%;
  text-align: center;
  margin-bottom: 100px;
}
